doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Satellite Imagery
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
    body
      h1 Satellite Imagery
      input#zip(placeholder='enter zip')
      button#image Get Image
      br
      img#img1.image
      img#img2.image
      img#img3.image

