doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Last Button Standing
    link(rel='stylesheet', href='/css/empty.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')

  body
    #container
      input#addBut(type='button' value='Add Two Button')
      input#butOne.butHide(type='button' value='Button One')
      input#butTwo.butHide(type='button' value='Button Two')
