doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Webcams
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row 
      .panel
        .small-12.columns.
        h1 Webcams

    .row
      .small-2.columns
        input#zipcode(type='text', placeholder='enter zip', autofocus='autofocus')
      .small-2.columns
        .button.small#addZip Add zip
      .small-2.columns
        select#zip test
      .small-2.columns
        .button.small#getImg Get images
      .small-4.columns
        .button.small#clearImg Clear Images

    .row
      .small-12.columns
        #container




    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')
    script $(document).foundation();

