doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Ajax Weather
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
    body
      h1 Inception
      input#number(placeholder='enter number')
      button#incept Inception
      br
      #container
        #seed
