doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Odd and Even Lists
    link(rel='stylesheet', href='/css/empty.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    input#imgUrl(type='input' placeholder='Inser Url')
    input#addImage(type='button', value='Add Image')
    #container
