doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Mad Libs
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
    body
      h1 Mad Libs
      input#string(placeholder='enter string')
      button#words Get the words
      button#clear Clear
      br
      #container
      .clear
      #display


