body{
  background-color: grey;
}

#clear{
  clear: both;
}

#temprature{
  width: 500px;
  height: 200px;
  background-color: white;
  padding-top: 8px;
  margin: 20px 0px;
}

#temprature div{
  margin: 10px 10px;
  color: grey;
  }
