doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Ajax Weather
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    input#zip(placeholder='input zip')
    button#addZip Add zip

    div.clear

    select#zipSelect
    button#addZip2 Add zip

    #display
      -for(var i=0; i < 4; i++)
        .weather
          h2
          h3
          img
